<main class="pb-3">
    <section class="p-4">
        <h3 class="py-2">CALL FOR ABSTRACT</h3>
        <div class="container" style="text-align: justify;">
            <div><p class="text-center"><span
                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"><img
                    alt="" src="/assets/img/logo.png"
                    style="width: 100%; max-width: 472.00px; max-height: 153.86px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                    title=""></span></p></div>
            
        </div>
    </section>
</main>