<main class="pb-3">
    <section class="p-4">
        <h3 class="py-2">PROGRAM</h3>
        <div class="container" style="text-align: justify;">
            <div><p class="text-center"><span
                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"><img
                    alt="" src="/assets/img/logo.png"
                    style="width: 100%; max-width: 472.00px; max-height: 153.86px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                    title=""></span></p></div>

                    <div class="card text-center">
                        <div class="card-header">
                          <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="true" href="#">8 de febrero</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" aria-current="true" href="#">9 de febrero</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" aria-current="true" href="#">10 de febrero</a>
                            </li>
                          </ul>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                      </div>
        </div>
    </section>
</main>