<main class="pb-3">
    <section class="p-4" style="max-width: 1300px; margin: auto;">
        <h3 class="py-2">PROGRAM</h3>
        <ul class="nav nav-tabs d-flex justify-content-center border-0 custom-nav-style">
            <li class="nav-item border-0 p-2">
                <a class="nav-link border-0 active" data-bs-toggle="tab" href="#ocho">February 8</a>
            </li>
            <li class="nav-item border-0 p-2">
                <a class="nav-link border-0" data-bs-toggle="tab" href="#nueve">February 9</a>
            </li>
            <li class="nav-item border-0 p-2">
                <a class="nav-link border-0" data-bs-toggle="tab" href="#diez">February 10</a>
            </li>
        </ul>
        <div class="d-inline-flex p-2 tab-content" style="text-align: center;">
            <div class="tab-pane px-2 active py-5" id="ocho">
                <div><h4><i class="fa-regular fa-sun mx-2"></i>Morning program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Tendencias de la inteligencia artificial en el área de la salud mental.</p>
                            <p class="m-0 fw-bold color-program-morning">Artificial intelligence trends in the area of mental health.</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis Alberto Morales-Hernández</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Tendencias de la inteligencia artificial en el área de la salud mental.</p>
                            <p class="m-0 fw-bold color-program-morning">Artificial intelligence trends in the area of mental health.</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis Alberto Morales-Hernández</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                </div>
                <br><br>
                <div><h4><i class="fa-solid fa-cloud-moon mx-2"></i>Afternoon program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Tendencias de la inteligencia artificial en el área de la salud mental.</p>
                            <p class="m-0 fw-bold color-program-afternoon">Artificial intelligence trends in the area of mental health.</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis Alberto Morales-Hernández</p>
                            <p class="m-0 fw-bold color-program-afternoon">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Tendencias de la inteligencia artificial en el área de la salud mental.</p>
                            <p class="m-0 fw-bold color-program-afternoon">Artificial intelligence trends in the area of mental health.</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis Alberto Morales-Hernández</p>
                            <p class="m-0 fw-bold color-program-afternoon">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane px-2 fade py-5" style="text-align: center" id="nueve">
                <div class="container d-flex flex-column">
                    <div><h4><i class="fa-regular fa-sun mx-2" style="text-align: center"></i>Morning program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Tendencias de la inteligencia artificial en el área de la salud mental.</p>
                            <p class="m-0 fw-bold color-program-morning">Artificial intelligence trends in the area of mental health.</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis Alberto Morales-Hernández</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Tendencias de la inteligencia artificial en el área de la salud mental.</p>
                            <p class="m-0 fw-bold color-program-morning">Artificial intelligence trends in the area of mental health.</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis Alberto Morales-Hernández</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                </div>
                <br><br>
                <div><h4><i class="fa-solid fa-cloud-moon mx-2"></i>Afternoon program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Tendencias de la inteligencia artificial en el área de la salud mental.</p>
                            <p class="m-0 fw-bold color-program-afternoon">Artificial intelligence trends in the area of mental health.</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis Alberto Morales-Hernández</p>
                            <p class="m-0 fw-bold color-program-afternoon">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Tendencias de la inteligencia artificial en el área de la salud mental.</p>
                            <p class="m-0 fw-bold color-program-afternoon">Artificial intelligence trends in the area of mental health.</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis Alberto Morales-Hernández</p>
                            <p class="m-0 fw-bold color-program-afternoon">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane px-2 fade py-5" style="text-align: justify" id="diez">
                <div class="container d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-6" style="text-align: justify">
                            Detección de síntomas de depresión empleando técnicas de procesamiento de señales y aprendizaje automático a partir del análisis de la voz como biomarcador
                        </div>
                        <div class="col-md-6 fw-bold" style="text-align: justify">
                            Detection of depression symptoms using signal processing techniques and automatic learning from voice analysis as a biomarker
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-6" style="text-align: justify">
                            Identificación de síntomas depresivos mediante el análisis acústico de la voz utilizando redes neuronales convolucionales
                        </div>
                        <div class="col-md-6 fw-bold" style="text-align: justify">
                            Identification of depressive symptoms through acoustic analysis of the voice using convolutional neural networks
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-6" style="text-align: justify">
                            Un clasificador computacional basado en entropía para emociones positivas y negativas en señales de voz
                        </div>
                        <div class="col-md-6 fw-bold" style="text-align: justify">
                            An entropy-based computational classifier for positive and negative emotions in voice signals
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-6" style="text-align: justify">
                            Inteligencia artificial y salud mental humana: ¿pueden las máquinas salvarnos?
                        </div>
                        <div class="col-md-6 fw-bold" style="text-align: justify">
                            Artificial intelligence and human mental health: can machines save us?
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-6" style="text-align: justify">
                            Análisis de Datos Acústicos con Redes Neuronales Artificiales para el Apoyo en el Diagnóstico de Depresión
                        </div>
                        <div class="col-md-6 fw-bold" style="text-align: justify">
                            Analysis of Acoustic Data with Artificial Neural Networks to Support the Diagnosis of Depression
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-6" style="text-align: justify">
                            Un modelo de inteligencia artificial para la predicción del desarrollo del parto a partir de indicadores psicológicos de ansiedad
                        </div>
                        <div class="col-md-6 fw-bold" style="text-align: justify">
                            An artificial intelligence model for the prediction of the development of childbirth from psychological indicators of anxiety
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>