html {
    scroll-padding-top: 86px;
}

.menu-hover:hover {
    color: #FFFFFF !important;
    transition: ease all 0.2s !important;
    background-color: #198754;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 2.5em;
    display: none;
    z-index: 10000 !important;
}
