<main >
    <section class="w-100 p-2">
        <br>
        <h3 class="py-2">KEYNOTE SPEAKERS</h3>
        <section id="slider1">
            <i id="buttons" class="fas fa-chevron-circle-left buttons prev"></i>
            <div class="viewport p-4">
                <ul class="overview">
                    <li><img src="/assets/img/speakers/Mauricio Orozco.jpg" />
                        <h2>Mauricio Gabriel <br> Orozco del Castillo</h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Nora Cuevas.jpg" />
                        <h2>Nora Leticia <br> Cuevas Cuevas

                        </h2>
                        <p>Instituto Tecnológico de Mérida</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/AnaMartin.jpg" />
                        <h2>Ana María <br> Martín Casado

                        </h2>
                        <p>Universidad Internacional de la Rioja
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Carolina Orozco del Castillo.jpeg" />
                        <h2>  Esperanza Carolina <br> Orozco del Castillo</h2>
                        <p>CINVESTAV
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/guillermoJimenez.jpg" />
                        <h2>Guillermo <br> Jiménez Díaz

                        </h2>
                        <p>Universidad Complutense de Madrid
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/a_calvo_morata.png" />
                        <h2>Antonio <br> Calvo Morata

                        </h2>
                        <p>Universidad Complutense de Madrid
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/JuanRecio.jpeg" />
                        <h2>Juan Antonio <br> Recio García

                        </h2>
                        <p>Universidad Complutense de Madrid
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Luis-de-la-fuente-Valentin-004.jpg" />
                        <h2>Luis <br> De La Fuente Valentín

                        </h2>
                        <p>Universidad Internacional de la Rioja
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <i  id="buttons" class="fas fa-chevron-circle-right buttons next"></i>
        </section>
    </section>
    <br>
    <section class="w-100 p-2">
        <br>
        <h3 class="py-2">SPEAKERS</h3>
        <section id="slider2">
            <i id="buttons" class="fas fa-chevron-circle-left buttons prev"></i>
            <div class="viewport p-4">
                <ul class="overview">
                    <li><img src="/assets/img/speakers/Alicia Muñiz Jiménez.jpeg" />
                        <h2>Alicia <br> MuñizJiménez</h2>
                        <p>National Autonomous University of Mexico
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Alejandro Rivero.jpg" />
                        <h2>Alejandro Jesús <br> Rivero Baas</h2>
                        <p>Instituto Tecnológico de Mérida</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Alejandro Sánches Sánches.jpg" />
                        <h2>Alejandro <br> Sánchez Sánchez</h2>
                        <p>Instituto Tecnológico de Mérida</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Alfredo <br> Sánchez Martínez</h2>
                        <p>Instituto Politécnico Nacional
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/fotoAngelMatos.jpg" />
                        <h2>Ángel Jesús <br> Matos Pech

                        </h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/bounza.jpeg" />
                        <h2>Arturo <br> Bouzas

                        </h2>
                        <p>National Autonomous University of Mexico
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Carlos C. <br> Contreras Ibáñez

                        </h2>
                        <p>Universidad Autónoma Metropolitana
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Cristian Sosa.jpg" />
                        <h2>Cristian Elohim <br> Sosa-Espadas

                        </h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Daniel Rodrigo Aguilar López.jpg" />
                        <h2>Daniel Rodrigo <br> Águilar López

                        </h2>
                        <p>Instituto de Estudios Superiores de la Ciudad de México "Rosario Castellanos"
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/didierCrespo.jpg" />
                        <h2>Didier Jesus <br> Crespo Castilla

                        </h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Elías <br> Xool Feria

                        </h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Elisa Ester <br> Ortiz Cruz

                        </h2>
                        <p>Universidad Nacional Autónoma de México (UNAM)
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Esteban Pacheco Novelo.jpg" />
                        <h2>Esteban <br> Pacheco Novelo

                        </h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Fructuoso <br> Ayala Guerrero

                        </h2>
                        <p>Universidad Nacional Autónoma de México (UNAM)
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Perez Perez Gerardo Arturo.jpeg" />
                        <h2>Gerardo Arturo <br> Pérez Pérez

                        </h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Giner <br> Alor Hernández

                        </h2>
                        <p>Instituto Tecnológico de Orizaba
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Gurvinder <br> Singh

                        </h2>
                        <p>GNDU Amritsar
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/BAEZA ARÉVALO JANETT DEL ROCIO.jpeg" />
                        <h2>Janett del Rocio <br> Baeza Arévalo

                        </h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Jorge <br> Bernal Hernández

                        </h2>
                        <p>Universidad Nacional Autónoma de México (UNAM)
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>José Luis <br> Sánchez Cervantes

                        </h2>
                        <p>CONACYT-Instituto Tecnológico de Orizaba       
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Leonardo <br> Manzanares

                        </h2>
                        <p>Universidad de Sonora       
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/ManuelCetina.jpeg" />
                        <h2>Manuel Antonio <br> Cetina Aguilar

                        </h2>
                        <p>Instituto Tecnológico de Mérida       
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>María del Pilar <br> Salas Zárate

                        </h2>
                        <p>Instituto Tecnológico de Orizaba       
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Mario Andrés <br> Paredes Valverde

                        </h2>
                        <p>Instituto Tecnológico de Teziuatlán       
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Maritza <br> Bustos López

                        </h2>
                        <p>Universidad Veracruzana      
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Miriam <br> Domínguez

                        </h2>
                        <p>Universidad de Sonora     
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Rafael <br> Salas Zárate

                        </h2>
                        <p>Instituto Tecnológico de Orizaba
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Teresa <br> Sotelo

                        </h2>
                        <p>Universidad de Sonora
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/MartinezGonzalez_VictorHugo.jpg" />
                        <h2>Víctor Hugo <br> Martínez González

                        </h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Yoltic E. <br> Santamaría Garcés

                        </h2>
                        <p>Universidad Autónoma Chapingo
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <i  id="buttons" class="fas fa-chevron-circle-right buttons next"></i>
        </section>
    </section>
</main>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('#slider1').tinycarousel();
        $('#slider2').tinycarousel();
    });
</script>
